@use "../../assets/sass/_variables.scss" as *;

.nav {
    max-width: 375;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    h2 {
        margin: auto 10px;
        font-size: large;
    }
}